<app-cabezera></app-cabezera>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
          <h3>Ventas por Usuario</h3>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-label>Usuario</ion-label>
            <ion-select name="country" (ionChange)="loadData($event)" [(ngModel)]="user" value="03">
              <ion-select-option value="null" selected >Elige un usuario</ion-select-option>
              <ion-select-option *ngFor="let userr of users" [value]="userr">{{userr}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="dataUser" >
        <div class="chart">
            <ngx-charts-line-chart
            class="chart"
            [legendTitle]="'Usuario'"
            [view]="view"
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="dataUser"
            [legendPosition]="'below'"
            >
          </ngx-charts-line-chart>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
