<app-cabezera></app-cabezera>
<ion-content class="ion-margin">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <div class="ion-text-center">
          <ion-card>
            <img src="../../../assets/img/profile.svg" />
            <ion-card-header>
              <ion-card-title>{{user}} <br> Administrador</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
