<app-cabezera></app-cabezera>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
          <h3>Resumen General</h3>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-item class="input-item">
            <ion-label>Fecha Inicial</ion-label>
            <ion-datetime
              (ionChange)="loadData($event)" [(ngModel)]="dateFrom"
              min="2020"
              displayFormat=" DD - MMM - YYYY"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              >
            </ion-datetime>
          </ion-item>
          <ion-item class="input-item">
            <ion-label>Fecha Fin</ion-label>
            <ion-datetime
              (ionChange)="loadData($event)" [(ngModel)]="dateEnd"
              min="2020"
              displayFormat=" DD - MMM - YYYY"
              monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
              >
            </ion-datetime>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="single"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [legendPosition]="'below'"
            [legendTitle]="'Resumen de Ventas'"
            >
          </ngx-charts-bar-vertical>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
