<ion-header>
  <ion-toolbar color="medium">
    <ion-title>ApoyequeBI</ion-title>
    <ion-buttons slot="start" >
      <ion-button (click)="toggle()" >
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
