<ion-content class="ion-margin">
  <ion-img src="../../../assets/img/report-bi.png"></ion-img>
  <h2 class="ion-text-center ion-padding-top"  >Apoyeque BI</h2>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="user" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" ></ion-input>
    </ion-item>
  </div>
  <div class="ion-text-center ion-padding-top">
    <ion-button (click)="login($event)" size="large" color="medium">
      <label color="primary">Login</label>
    </ion-button>
  </div>
</ion-content>
