<app-cabezera></app-cabezera>
<ion-content class="ion-margin">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <div class="ion-text-center">
          <ion-card>
            <h1>Reporte de Ventas por Categorias</h1>
          </ion-card>
        </div>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <div class="chart">
          <ion-card>
          <ngx-charts-pie-chart
          class="ion-text-center ion-justify-content-center ion-align-items-center"
          (window:resize)="onResize($event)"
            [view]="view"
            [scheme]="colorScheme"
            [results]="data"
            [legend]="showLegend"
            [legendTitle]="''"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
            [legendPosition]="right"
            >
          </ngx-charts-pie-chart>
        </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
