<app-cabezera></app-cabezera>
<ion-content class="ion-margin">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <div class="ion-text-center">
          <ion-card>
            <img src="../../../assets/img/report-bi.png" />
            <ion-card-header>
              <ion-card-title>Hola Bienvenido {{user}} !!!</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Un proyecto enfocado al desarrollo de app moviles a la forma inteligente de explotación de datos.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
