<app-cabezera></app-cabezera>
<ion-content class="ion-margin">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col  size="12">
        <div class="ion-text-center">
          <ion-card  [routerLink]="[ '/ventas-periodo' ]">
            <img src="../../../assets/img/report4.svg" />
            <ion-card-header>
              <ion-card-title>Resumen General</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Reporte enfocado a las ventas
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="12">
        <div class="ion-text-center">
          <ion-card  [routerLink]="[ '/ventas-categoria' ]" >
            <img src="../../../assets/img/report1.svg" />
            <ion-card-header>
              <ion-card-title>Ventas por categoria</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              Este reporte de ventas por categorias de productos definidas en el sistema.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col  size="12">
        <div class="ion-text-center">
          <ion-card [routerLink]="[ '/ventas-mesero' ]" >
            <img src="../../../assets/img/report3.svg" />
            <ion-card-header>
              <ion-card-title>Ventas por Usuario</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Reporte detallado de ventas por usuario
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col  size="12">
        <div class="ion-text-center">
          <ion-card [routerLink]="[ '/ventas-hora' ]">
            <img src="../../../assets/img/report2.svg" />
            <ion-card-header>
              <ion-card-title>Ventas por Hora</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Reporte que nos permite detectar el horario de ventas
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
